 .learn_more{
    width: 90%;
    margin: auto auto;
    margin-top: 5.5rem;
    padding: 1rem;
    margin-bottom: 3rem;
 }

 .mobile_title{
    padding-top: 5rem;
 }

 .mobile_title p{
    font-size: 1.2rem;
    color: #c25310;
    font-weight: 500;
    margin-bottom: 10px;
 }

 .mobile_title h2{
    font-size: 2.5rem;
    color: #333333;
    font-weight: 800;
 }

 .mobile_title h4{
    margin-top: 2rem;
    color: #a3a3a4;
    font-weight: 400;
 }

 .learn_more_container{
    display: flex;
    gap: 1rem;
    margin-top: 7rem;
 }

 .learn_more_img{
    width: 70%;
    height: 600px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 150px;
    margin-top: 5rem;
 }

 .learn_more_img img{
    display: flex;
    align-items: center;
    width: 90%;
 }

 .learn_more_info{
    width: 30%;
    padding-left: 2rem;
    padding-right: 2rem;
    right: 0;
 }

 .storage_text{
    margin-top: 4rem;
 }

 .storage_text p{
    font-size: 1.7rem;
    margin-bottom: 2rem;
 }

 .storage{
    display: flex;
    flex-direction: column;
 }
 .storage_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dedee2;
    padding: 2rem;
    border-radius: 1rem; 
    margin-top: 10px;
 }

 .storage_1:hover{
    border: 1px solid #6ca9e6;
 }

 .storage_1 h3{
    font-weight: 700;
 }

 .storage_1 p{
    color: #89898a;
 }

 .mobile_info{
    margin-top: 4rem;
 }

 .mobile_info h3{
    font-size: 1.7rem;
    margin-bottom: 2rem;
    font-weight: 500;
 }

 .buy_now{
    margin-top: 5rem;
    text-align: center;
 }

 .buy_now a{
    text-decoration: none;
    background-color: #0071e3;
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
    padding: .50rem 2rem .50rem 2rem;
    border-radius: 2rem;
 }
