*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    overflow-y: scroll;
}

/* Desktop nav */

.nav-container{
    background-color: white;
    /* box-shadow: 0 8px 32px 0 rgba(0, 0, 4, 0.10); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    backdrop-filter: blur( 20px );
    height: 5rem;
    z-index: 300;
    position: fixed;
    left:0;
    right: 0;
    top: 0;
}
.nav-container nav{
    width:1000px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}
nav .desktop-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    list-style: none;
}
nav .desktop-nav li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.8;
    transition: opacity 400ms;
}
nav .desktop-nav li a:hover{
    opacity: 1;
}
.mobile-nav .link-logo{
    color: #f5f5f5;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
}
.link-search{
    background: url('images/search.svg');
    display: block;
    background-position: center;
    height: 44px;
    width: 20px;
    background-size: 20px 18px;
    background-repeat: no-repeat;
}

.desktop-nav .link-logo{
    font-size: 1.2rem;
    font-weight: 600;
}

.link-bag{
    background: url('images/bag-icon.svg');
    display: block;
    background-position: center;
    height: 44px;
    width: 20px;
    background-size: 17px;
    background-repeat: no-repeat;
}
.link-close{
    background: url('images/close-icon.svg');
    display: block;
    background-position: center;
    height: 44px;
    width: 20px;
    background-size: 17px;
    background-repeat: no-repeat;
}
/* search container */
.search-container.hide{
    opacity: 0;
    pointer-events: none;
}
.search-container{
    width: 60%;
    margin: 0 auto;
    padding: 0 42px;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 200;
}
.search-container .link-search{
    position: absolute;
    left: 12px;
    opacity: 0.5;
}
.search-container .link-close{
    position: absolute;
    top: 0;
    opacity: 0.5;
    right: 12px;
    cursor: pointer;
    transition:  all 400ms;
}
.search-container .link-close:hover{
    opacity: 0.7;
}
.search-container form{
    width: 100%;
    margin: 0 auto;
}
.search-container form input{
    width: 100%;
    height: 44px;
    border: 0;
    outline: none;
    background: transparent;
    color: black;
    font-family: "Inter, sans-serif";
    font-size: 17px;
}

/* overlay */

.overlay.show{
    position: fixed;
    background: rgba(0,0,0,0.48);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
}



/* desktop nav animation */
.desktop-nav li{
    transition: all 400ms ease;
}
.desktop-nav.hide li{
    opacity: 0;
    transform: scale(0.8);
    position: none;
}

/* overlay animation */

.overlay{
    transition: all 400ms ease;
}

/* navigation menu item transition delay */

.desktop-nav li:nth-of-type(1),
.desktop-nav.hide li:nth-last-of-type(10){
    transition-delay: 0ms;
}
.desktop-nav li:nth-of-type(2),
.desktop-nav.hide li:nth-last-of-type(9){
    transition-delay: 30ms;
}
.desktop-nav li:nth-of-type(3),
.desktop-nav.hide li:nth-last-of-type(8){
    transition-delay: 60ms;
}
.desktop-nav li:nth-of-type(4),
.desktop-nav.hide li:nth-last-of-type(7){
    transition-delay: 90ms;
}
.desktop-nav li:nth-of-type(5),
.desktop-nav.hide li:nth-last-of-type(6){
    transition-delay: 120ms;
}
.desktop-nav li:nth-of-type(6),
.desktop-nav.hide li:nth-last-of-type(5){
    transition-delay: 150ms;
}
.desktop-nav li:nth-of-type(7),
.desktop-nav.hide li:nth-last-of-type(4){
    transition-delay: 180ms;
}
.desktop-nav li:nth-of-type(8),
.desktop-nav.hide li:nth-last-of-type(3){
    transition-delay: 210ms;
}
.desktop-nav li:nth-of-type(9),
.desktop-nav.hide li:nth-last-of-type(2){
    transition-delay: 240ms;
}
.desktop-nav li:nth-of-type(10),
.desktop-nav.hide li:nth-last-of-type(1){
    transition-delay: 270ms;
}

/* search container animation */

.search-container form,
.search-container .link-search{
    opacity: 1;
    transform:  translateX(0);
    transition: all 400ms ease;
    transition-delay: 300ms ;
}

.search-container.hide form,
.search-container.hide .link-search{
    opacity: 0;
    transform: translate(50px);
}

.search-container .link-search{
    opacity: 0.6;
}
.search-container.hide .link-close{
    opacity: 0;
}
.search-container .link-close{
    opacity: 0.5;
    transition: all 200ms ease;
    transition-delay: 400ms;
}

.search-container.hide .quick-links h2{
    opacity: 0;
    transform: translateX(50px);
}
.search-container .quick-links h2{
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
    transition-delay: 100ms;
}

.search-container.hide .quick-links ul li{
    transform: translateX(60px);
    opacity: 0;
}
.search-container .quick-links ul li{
    opacity: 1;
    transform: translateX(0);
    transition: all 400ms ease;
    transition-delay: 100ms;
}
.search-container .quick-links ui li:nth-of-type(1){
    transition-delay: 120ms;
}
.search-container .quick-links ui li:nth-of-type(2){
    transition-delay: 140ms;
}
.search-container .quick-links ui li:nth-of-type(3){
    transition-delay: 160ms;
}
.search-container .quick-links ui li:nth-of-type(4){
    transition-delay: 180ms;
}
.search-container .quick-links ui li:nth-of-type(5){
    transition-delay: 200ms;
}




/* latest release container */
/* latest release */
.latest-release{
    width: 100%;
    margin-top: 5rem;
    height: 80vh;
    background-image: url('images/oneplus-10-pro-desktop.jfif');
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 .latest-release-mobile-text{
     display: flex;
     flex-direction: column;
     position: absolute;
     right: 5rem;
     margin-top: 5rem;
 }
 
 .latest-release-mobile-name p{
     font-size: 5rem;
     font-weight: 700;
     color: #96b6ab;
 }
 
 .latest-release-mobile-info p{
     font-size: 2rem;
     font-weight: 500;
     margin-top: 10px;
     color: #3d4f43;
 }
 
 .latest-release-mobile-price{
     font-size: 1.5rem;
     font-weight: 700;
     color: #8e979d;
     margin-top: 10px;
 }
 
 .latest-release-mobile-button{
     display: flex;
     margin-top: 20px;
     gap: 2rem;
 }
 
 .latest-release-mobile-button .learn-more a{
     color: #1e6fbd;
     font-size: 1.4rem;
     font-weight: 800;
     list-style: none;
     text-decoration: none;
 }
 
 .latest-release-mobile-button .buy-now a{
     color: #1e6fbd;
     font-size: 1.4rem;
     font-weight: 800;
     list-style: none;
     text-decoration: none;
 }
 
 
 
 /* latest release1 */
 .latest-release1{
     width: 100%;
     margin-top: 3rem;
     height: 80vh;
     background-image: url('images/s22-ultra.jpg');
     background-repeat: no-repeat;
     background-size: contain;
     background-position: right;
  }
  
  .latest-release-mobile-text1{
      display: flex;
      flex-direction: column;
      padding-left: 4rem;
      padding-top: 12rem;
  }
  
  .latest-release-mobile-name1 p{
      font-size: 3.3rem;
      font-weight: 700;
  }
  
  .latest-release-mobile-info1 p{
      font-size: 1.6rem;
      font-weight: 500;
      margin-top: 10px;
  }
  
  .latest-release-mobile-price1{
      font-size: 1.1rem;
      font-weight: 700;
      color: rgb(69, 69, 69);
      margin-top: 5px;
  }
  
  .latest-release-mobile-button1{
      display: flex;
      margin-top: 20px;
      gap: 2rem;
  }
  
  .latest-release-mobile-button1 .learn-more1 a{
      color: #1e6fbd;
      font-size: 1.2rem;
      font-weight: 800;
      list-style: none;
      text-decoration: none;
  }
  
  .latest-release-mobile-button1 .buy-now1 a{
      color: #1e6fbd;
      font-size: 1.2rem;
      font-weight: 800;
      list-style: none;
      text-decoration: none;
  }
 
 
 
  /* mobile categories */
 
  .mobile-categories{
     width: 95%;
     margin-top: 2rem;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     margin-left: auto;
     margin-right: auto;
     gap: 2rem;
     margin-bottom: 4rem;
  }
 
  .category-1{
     display: flex;
     flex-direction: column;
     text-align: center;
     background-color: #f5f5f7;
     border-radius: .25rem;
  }
 
  .category-1 .category-1-logo img{
     width: 200px;
     margin-top: 30px;
  }
 
  .category-1-tagline{
     margin-top: 1rem;
  }
 
  .categroy-1-button{
     margin-top: 2rem;
     margin-bottom: 1rem;
  }
 
  .categroy-1-button .explore{
     text-decoration: none;
     color: #1e6fbd;
     font-weight: 800;
  }
 
  .categroy-1-button .visit-site{
     text-decoration: none;
     color: #1e6fbd;
     font-weight: 800;
     margin-left: 2rem;
  }
 
 
  .category-1 .category-1-image img{
     width: 400px;
  }
 
  .category-2{
     display: flex;
     flex-direction: column;
     text-align: center;
     background-color: black;
     border-radius: .25rem;
  }
 
  .category-2 .category-2-logo img{
     width: 200px;
     margin-top: 30px;
  }
 
  .category-2-tagline{
     margin-top: 1rem;
     color: #f5f5f5;
  }
 
  .categroy-2-button{
     margin-top: 2rem;
     margin-bottom: 1rem;
  }
 
  .categroy-2-button .explore{
     text-decoration: none;
     color: #1e6fbd;
     font-weight: 800;
  }
 
  .categroy-2-button .visit-site{
     text-decoration: none;
     color: #1e6fbd;
     font-weight: 800;
     margin-left: 2rem;
  }
 
 
  .category-2 .category-2-image img{
     width: 500px;
  }
 
 
 
 
  .category-3{
     display: flex;
     flex-direction: column;
     text-align: center;
     background-color: black;
     border-radius: .25rem;
  }
 
  .category-3 .category-3-logo img{
     width: 200px;
     margin-top: 30px;
  }
 
  .category-3-tagline{
     margin-top: 1rem;
     color: #f5f5f5;
  }
 
  .categroy-3-button{
     margin-top: 2rem;
     margin-bottom: 1rem;
  }
 
  .categroy-3-button .explore{
     text-decoration: none;
     color: #1e6fbd;
     font-weight: 800;
  }
 
  .categroy-3-button .visit-site{
     text-decoration: none;
     color: #1e6fbd;
     font-weight: 800;
     margin-left: 2rem;
  }
 
 
  .category-3 .category-3-image img{
     width: 300px;
  }
 
 
 
  .category-4{
     display: flex;
     flex-direction: column;
     text-align: center;
     background-color: #f5f5f7;
     border-radius: .25rem;
  }
 
  .category-4 .category-4-logo img{
     width: 200px;
     margin-top: 30px;
  }
 
  .category-4-tagline{
     margin-top: 1rem;
     color: black;
  }
 
  .categroy-4-button{
     margin-top: 2rem;
     margin-bottom: 1rem;
  }
 
  .categroy-4-button .explore{
     text-decoration: none;
     color: #1e6fbd;
     font-weight: 800;
  }
 
  .categroy-4-button .visit-site{
     text-decoration: none;
     color: #1e6fbd;
     font-weight: 800;
     margin-left: 2rem;
  }
 
 
  .category-4 .category-4-image img{
     width: 520px;
  }
 
 
 
 
 
 







































/* hidden items */
.mobile-nav,
.mobile-search-container{
    display: none;
}
 








/* mobile version */

@media (max-width:1100px) {
    .nav-container nav{
        width: 100%;
        padding: 0 32px;
    }
}
@media (max-width:768px){
    .nav-container .desktop-nav{
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background-color: white;
        justify-content: start;
        overflow: hidden;
        z-index: -1;
    }
    .nav-container.active .desktop-nav{
        height: 100vh;
    }
    .nav-container .desktop-nav li{
        width: 100%;
        padding: 0 32px;
    }
    .nav-container .desktop-nav li:first-child{
        margin-top: 120px;
    }
    .nav-container .desktop-nav .link-logo,
    .nav-container .desktop-nav .link-search,
    .nav-container .desktop-nav .link-bag{
        display: none;
    }
    .nav-container .desktop-nav li a{
        padding: 16px 0;
        display: inline-block;
        border-bottom: 1px solid #616161;
        width: 100%;
        font-size: 17px;
    }

    /* mobile nav */

    nav .mobile-nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    nav .menu-icon-container{
        width: 20px;
        height: 44px;
        display: flex;
        align-items:center;
        cursor: pointer;
    }

    .mobile-nav li{
        margin-top: 1rem;
    }

    .desktop-nav .samsung{
        margin-top: 3rem;
    }
    nav .menu-icon{
        position: relative;
        width: 100%;
    }

    .mobile-nav .link-logo{
        color:black;
    }
    nav .menu-icon .line-1,
    nav .menu-icon .line-2{
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: black;
    }
    nav .menu-icon .line-1{
        top:-4px;
    }
    nav .menu-icon .line-1{
        top:4px;
    }
    .nav-container.active .menu-icon-container .menu-icon .line-1{
        top:0;
        transform: rotateZ(45deg);
    }
    .nav-container.active nav .menu-icon-container .menu-icon .line-2{
        top:0;
        transform: rotateZ(-45deg);
    }


    /* bag icon animation  */
    .nav-container.active .mobile-nav .link-bag{
        transform: translateY(8px);
        opacity: 0;
        pointer-events: none;
    }

  
    /* search box */

    .mobile-search-container input{
        width: 100%;
        padding: 12px 36px;
        font-family: "Inter,sans-serif";
        font-size: 17px;
        background:#D3D3D3;
        border: 0;
        color: black;
        border-radius: 8px;
        outline: none;
    }
    .mobile-search-container{
        position: relative;
        padding: 0 16px;
        margin-top: 10px;
        border-bottom: 1px solid #616161;
        display: flex;
        padding-bottom: 16px;
        align-items: center;
        transform: rotateX(90deg);
    }
    .nav-container.active .mobile-search-container{
        transform: rotateX(0deg);
    }

    .mobile-search-container .link-search{
        position: absolute;
        left:24px;
        opacity: .5;
        background-size: 15px;
    }

    /* nav move-up */

    .nav-container nav.move-up{
        margin-top: -40px;
    }

    /* cancel button */

    .mobile-search-container .cancel-btn{
        color: #2997ff;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        width: 0px;
        overflow: hidden;
    }
    .mobile-search-container .search-bar.active + .cancel-btn{
        padding: 0 16px;
        width: 74px;
    }
    .mobile-search-container .search-bar{
        flex:1;
    }
    
    /* desktop nav move down */
    nav .desktop-nav.move-down li:first-child{
        margin-top: 150px;
    }

    nav .desktop-nav.move-down li{
        opacity: 0;
        pointer-events: none;
    }




    /* latest release mobile */
.latest-release{
    width: 100%;
    margin-top: 5rem;
    background-image: url('images/oneplus-10-pro-mobile.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
 }
 
 .latest-release-mobile-text{
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-left: 2rem;
 }
 
 .latest-release-mobile-name p{
     font-size: 4.5rem;
     font-weight: 700;
 }
 
 .latest-release-mobile-info p{
     font-size: 1.5rem;
     font-weight: 500;
     margin-top: 10px;
     color: #3d4f43;
 }
 
 .latest-release-mobile-price{
     font-size: 1.1rem;
     font-weight: 700;
     color: rgb(69, 69, 69);
     margin-top: 5px;
 }
 
 .latest-release-mobile-button{
     display: flex;
     margin-top: 20px;
     gap: 2rem;
 }
 
 .latest-release-mobile-button .learn-more a{
     color: #1e6fbd;
     font-size: 1.2rem;
     font-weight: 800;
     list-style: none;
     text-decoration: none;
 }
 
 .latest-release-mobile-button .buy-now a{
     color: #1e6fbd;
     font-size: 1.2rem;
     font-weight: 800;
     list-style: none;
     text-decoration: none;
 }


 
 /* latest release1 */
 .latest-release1{
    width: 100%;
    margin-top: 1rem;
    height: 100vh;
    background-image: url('images/s22-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
 }
 
 .latest-release-mobile-text1{
     display: flex;
     flex-direction: column;
     padding-left: 1rem;
     padding-top: 5rem;
 }
 
 .latest-release-mobile-name1 p{
     font-size: 3.5rem;
     font-weight: 700;
     color: #eaeaea;
 }
 
 .latest-release-mobile-info1 p{
     font-size: 1.6rem;
     font-weight: 500;
     margin-top: 10px;
     color: #2a2f33;
 }
 
 .latest-release-mobile-price1{
     font-size: 1.1rem;
     font-weight: 700;
     color: rgb(69, 69, 69);
     margin-top: 5px;
 }
 
 .latest-release-mobile-button1{
     display: flex;
     margin-top: 20px;
     gap: 2rem;
 }
 
 .latest-release-mobile-button1 .learn-more1 a{
     color: #1e6fbd;
     font-size: 1.2rem;
     font-weight: 800;
     list-style: none;
     text-decoration: none;
 }
 
 .latest-release-mobile-button1 .buy-now1 a{
     color: #1e6fbd;
     font-size: 1.2rem;
     font-weight: 800;
     list-style: none;
     text-decoration: none;
 }





 
 
  /* mobile categories */
 
  .mobile-categories{
    display: flex;
    flex-direction: column;
 }

 .category-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f5f5f7;
    border-radius: .25rem;
 }

 .category-1 .category-1-logo img{
    width: 170px;
    margin-top: 30px;
 }

 .category-1-tagline{
    margin-top: 1rem;
 }

 .categroy-1-button{
    margin-top: 2rem;
    margin-bottom: 1rem;
 }

 .categroy-1-button .explore{
    text-decoration: none;
    color: #1e6fbd;
    font-weight: 800;
 }

 .categroy-1-button .visit-site{
    text-decoration: none;
    color: #1e6fbd;
    font-weight: 800;
    margin-left: 2rem;
 }


 .category-1 .category-1-image img{
    width: 350px;
 }



 .category-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border-radius: .25rem;
 }

 .category-2 .category-2-logo img{
    width: 170px;
    margin-top: 30px;
 }

 .category-2-tagline{
    margin-top: 1rem;
    color: #f5f5f5;
 }

 .categroy-2-button{
    margin-top: 2rem;
    margin-bottom: 1rem;
 }

 .categroy-2-button .explore{
    text-decoration: none;
    color: #1e6fbd;
    font-weight: 800;
 }

 .categroy-2-button .visit-site{
    text-decoration: none;
    color: #1e6fbd;
    font-weight: 800;
    margin-left: 2rem;
 }


 .category-2 .category-2-image img{
    width: 350px;
 }




 .category-3{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border-radius: .25rem;
 }

 .category-3 .category-3-logo img{
    width: 170px;
    margin-top: 30px;
 }

 .category-3-tagline{
    margin-top: 1rem;
    color: #f5f5f5;
 }

 .categroy-3-button{
    margin-top: 2rem;
    margin-bottom: 1rem;
 }

 .categroy-3-button .explore{
    text-decoration: none;
    color: #1e6fbd;
    font-weight: 800;
 }

 .categroy-3-button .visit-site{
    text-decoration: none;
    color: #1e6fbd;
    font-weight: 800;
    margin-left: 2rem;
 }


 .category-3 .category-3-image img{
    width: 300px;
 }



 .category-4{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f5f5f7;
    border-radius: .25rem;
 }

 .category-4 .category-4-logo img{
    width: 170px;
    margin-top: 30px;
 }

 .category-4-tagline{
    margin-top: 1rem;
    color: black;
 }

 .categroy-4-button{
    margin-top: 2rem;
    margin-bottom: 1rem;
 }

 .categroy-4-button .explore{
    text-decoration: none;
    color: #1e6fbd;
    font-weight: 800;
 }

 .categroy-4-button .visit-site{
    text-decoration: none;
    color: #1e6fbd;
    font-weight: 800;
    margin-left: 2rem;
 }


 .category-4 .category-4-image img{
    width: 350px;
 }




 


 

}


input,
div,
span,
a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}